/* Estilo para las tareas completadas */
.completada {
    background-color: #d3ffd3; /* Fondo verde claro para tareas completadas */
    text-decoration: line-through; /* Texto tachado */
    color: #6c6c6c; /* Color de texto más apagado */
}